---
sudo: required
dist: real_telegram
language: node_js
node_js:
  # LTS version
  - "8.0"
notifications:
  email:
    on_success: change # only if status change from fail to success
    on_failure: always # if there is a fail
    recipients:
      - juha.wilppu@gmail.com
cache:
  directories:
    - node_modules
install:
  - npm install
before_script:
  - export CI=false